.container {
	grid-template-rows: 200px 50px 800px 100px auto;
	grid-template-areas:
	  "logo logo logo logo"
	  "navbar navbar navbar navbar"
	  "rollingImages rollingImages rollingImages rollingImages"
	  "header header header header"
	  "gallery gallery gallery gallery"
	  "footer footer footer footer";
}

.gallery {
    grid-area: gallery;
}

.image-col {
	float: left;
	margin: 0 10px 15px 0;
	border: 1px solid #fbb03b;
}

.gallery-image {
	height: 100px;

}

.image-col img {
	opacity: 0.8;
	cursor: pointer;
}

.image-col img:hover {
	opacity: 1;
}

.image-row:after {
	content: "";
	display: table;
	clear: both;
}

.expanding-image-container {
	position: relative;
	display: none;
}

#expanded-image {
	width: 100%;
}

#caption {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #fbb03b;
	font-size: 20px;
}

.closeButton {
	position: absolute;
	width: 40px;
	top: 10px;
	right: 15px;
	color: #fbb03b;
	background-color: rgba(0,0,0,0.9);
	opacity: 0.7;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
}

/* TABLETS */
@media screen and (max-width: 1200px) {
	.container {
		grid-template-rows: auto auto 550px 100px;
		grid-template-areas:
		"logo logo logo logo"
		"navbar navbar navbar navbar"
		"rollingImages rollingImages rollingImages rollingImages"
		"header header header header"
		"gallery gallery gallery gallery"
		"footer footer footer footer";
	}
}

/* TABLETS */
@media screen and (max-width: 1025px) {
	.container {
		grid-template-rows: auto auto 550px 100px;
		grid-template-areas:
		"logo logo logo logo"
		"navbar navbar navbar navbar"
		"rollingImages rollingImages rollingImages rollingImages"
		"header header header header"
		"gallery gallery gallery gallery"
		"footer footer footer footer";
	}
}

/* MOBILES */
@media screen and (max-width: 767px) {
	.container {
		grid-template-rows: auto auto 250px 100px;
		grid-template-areas:
		"logo logo logo logo"
		"navbar navbar navbar navbar"
		"rollingImages rollingImages rollingImages rollingImages"
		"header header header header"
		"gallery gallery gallery gallery"
		"footer footer footer footer";
	}
}
